<div>Pull Request of project named {{name}}</div>
<div id="pulllistcomponents">
  <label>Id : </label>
  <input type="text" placeholder="0" id="id" disabled>
  <br>
  <label>Html_url : </label>
  <input type="text" placeholder="0" id="htmlurl" disabled>
  <br>
  <label>Number : </label>
  <input type="text" placeholder="0" id="number" disabled>
  <br>
  <label>State : </label>
  <input type="text" placeholder="0" id="state" disabled>
  <br>
  <label>Title : </label>
  <input type="text" placeholder="0" id="title" disabled>
  <br>
  <label>User_Login : </label>
  <input type="text" placeholder="0" id="userlogin" disabled>
  <br>
  <label>Body : </label>
  <input type="text" placeholder="0" id="body" disabled>
  <br>
  <label>Updated_at : </label>
  <input type="text" placeholder="0" id="updatedat" disabled>
  <br>
  <label>Closed_at : </label>
  <input type="text" placeholder="0" id="closedat" disabled>

</div>
