<mat-card class="example-card">
  <mat-card-title>
    {{title}}
  </mat-card-title>

  <form>
    ID : <br><input type="number"  value={{id}} disabled> <br><br>
    Number: <br><input type="number" disabled value={{number}}> <br><br>
    Title:<br><input type="text" disabled value={{title}}> <br><br>
    Html url:<br><input type="text" disabled value={{html_url}}> <br><br>
    State:<br><input type="text" disabled value={{state}}> <br><br>
    Assignee:<br><input type="text" disabled value={{assigne}}> <br><br>
    Created At:<br><input type="datetime" disabled value={{created_at}}> <br><br>
    Updated At:<br><input type="datetime" disabled value={{updated_at}}> <br><br>
    Closed At:<br><input type="datetime" disabled value={{cloased_at}}> <br><br>
    Body:<br><textarea cols="20" rows="6" disabled value={{body}}> </textarea><br>
  </form>
</mat-card>