mat-card {
    margin:0px; 
    margin-top: 20px;  
    width: 60%;
    height: 80%;
    background-color: wheat;
    text-align: center;
    font-style: italic;
}
mat-card:hover{
    cursor: pointer;
    background-color: #F3F0F0;
}

h2{
    margin-top: 10px;
    text-align: center;
}
