.profile-card {
    max-width: 30%;
    margin: auto;
  }
  
  .example-header-image {
    background-image: url('https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png');
    background-size: cover;
  }