<mat-card class="profile-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Rajnikant</mat-card-title>
    <mat-card-subtitle>rajni.kant@gmail.com</mat-card-subtitle>
    <mat-card-subtitle>rajni.kant.gangsta</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="http://im.rediff.com/news/2009/sep/10nlook1.jpg" alt="Photo of a Shiba Inu">
  <mat-divider></mat-divider>
  <mat-card-content>
    <br>
    <p>
      You have completed 5 projects, we can provide all the list of issues, starred repositories on your dashboard ALl you need
      to do is move away from your profile to dashboard
    </p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-button>Dashboard</button>
  </mat-card-actions>
</mat-card>