mat-card {
    margin:0px;   
    width: 60%;
    height: 50%;
    background-color: wheat;
    text-align: center;
    font-style: italic;
}

mat-card:hover{
    cursor: pointer;
    background-color: #F3F0F0 !important;
}

h2{
    margin-top: 10px;
    text-align: center;
}
