<div>
  <mat-toolbar color="primary">
    <button mat-button [routerLink]="['/dashboard']"><i class="fab fa-github">Dashboard</i></button>

    <!-- <span class="spacing"></span> -->

    <mat-form-field>
      <input matInput placeholder="Search" [(ngModel)]="keyword">
    </mat-form-field>
    <button mat-button [routerLink]="['/search',keyword,0]">User</button>
    <button mat-button [routerLink]="['/search',keyword,1]">Repo</button>

    <span class="spacing"></span>

    <button mat-button (click)="logmeout()"><i class="fas fa-sign-out-alt"></i>Logout</button>

  </mat-toolbar>
</div>