<div id="card-container" class="row">
  <div class="col-md-6 col-lg-4 card-block" id="dashboard-item-1" (click)="openProfile()" [routerLink]="['/profile']">
    <mat-card>
      <mat-card-title>
        <h1>Profile</h1>
      </mat-card-title>
      <mat-card-content>
        <p>Click here to view your Profile</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-6 col-lg-4 card-block" id="dashboard-item-2" [routerLink]="['/projects']">
    <mat-card>
      <mat-card-title>
        <h1>My Repositories</h1>
      </mat-card-title>
      <mat-card-content>
        <p>Click here to view your Repositories</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-6 col-lg-4 card-block" id="dashboard-item-3"  [routerLink]="['/projects']">
    <mat-card>
      <mat-card-title>
        <h1>Pull Requests</h1>
      </mat-card-title>
      <mat-card-content>
        <p>Pull Requests can be viewed here</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-6 col-lg-4 card-block" id="dashboard-item-4"  [routerLink]="['/projectlist']">
    <mat-card>
      <mat-card-title>
        <h1>Issues</h1>
      </mat-card-title>
      <mat-card-content>
        <p>Click here to track the issues you faced</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-6 col-lg-4 card-block" id="dashboard-item-1">
    <mat-card>
      <mat-card-title>
        <h1>Starred Repositories</h1>
      </mat-card-title>
      <mat-card-content>
        <p>Star Repositories are just a click away</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-6 col-lg-4 card-block" id="dashboard-item-1">
    <mat-card>
      <mat-card-title>
        <h1>Profile</h1>
      </mat-card-title>
      <mat-card-content>
        <p>Click here to view your Profile</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
