/* #grid-list-container{
    width: 80%;
    text-align: center;
    margin: auto;
}
.card-block{
    padding-top: 7.5px;
    padding-bottom: 7.5px; 
}
mat-card:hover{
    cursor: pointer;
    background-color: gray !important;
}
mat-card{
    border: 2px solid black;
} */
mat-card {
    margin:0px;   
    width: 60%;
    height: 50%;
 
    text-align: center;
    font-style: italic;
}
