

mat-card {
    margin: auto;
    margin-top: 10em;
    width: 30%;
    text-align: center;
}
mat-card-header{
    justify-content: center;
}
i{
    font-size: 60px;

}
.name{
    font-size: 20px;
}
