 <!-- <app-navbar></app-navbar> -->


   
<div *ngIf="signupFlag">
<mat-card class="login">
  <mat-card-header>
      <mat-card-title><i class="fab fa-github"></i></mat-card-title>
    <mat-card-title class="name"> GitHub</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div id="login-form-block">
      <form class="form">
        <div class="full-width" cellspacing="0">
          <div>
            <mat-form-field class="full-width">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width">
              <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
    <button mat-raised-button (click)="signup()" color="primary">Signup</button>
    
  </mat-card-actions>
</mat-card>
</div>
<app-signup [signupFlag]="signupFlag" (signupflagValueChanged)="signupflagValueChanged($event)" *ngIf="!signupFlag"></app-signup>


