<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><i class="fab fa-github"></i></mat-card-title>
    <mat-card-title class="name"> GitHub</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Firstname" [(ngModel)]="Firstname" name="Firstname">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Lastname" [(ngModel)]="Lastname" name="Lastname">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" [(ngModel)]="email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username (Your GitHub Username)" minlength="6" [(ngModel)]="Username" name="username" required>
        <mat-hint>Minimum 6 Characters</mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Confirm Password" [(ngModel)]="confirmpassword" type="password" name="confirmpassword"
          required>
      </mat-form-field>

    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="signup()" color="primary">Signup</button>

  </mat-card-actions>
  <mat-card-actions>
    <button mat-raised-button (click)="goBack()" color="primary">Login</button>

  </mat-card-actions>
</mat-card>