.spacer {
    flex: 1 1 auto;
}

mat-card {
    margin: auto;
    margin-top: 3em;
    width: 30%;
    text-align: center;
}
mat-card-header{
    justify-content: center;
}

table{
    width: 100%;
}
i{
    font-size: 60px;

}
.name{
    font-size: 20px;
}
